VITE_API_URL=http://localhost:5000/api
VITE_AUTH_LOGIN_PATH=/auth/login

VITE_CAMPUSES_PATH=/campuses
VITE_CAREERS_PATH=/careers
VITE_COURSES_PATH=/courses
VITE_PROFESSORS_PATH=/professors
VITE_RECOMMENDATION_PERIODS_PATH=/recommendation-periods
VITE_REVIEW_PERIODS_PATH=/review-periods
VITE_PROFESSOR_RECOMMENDATIONS_PATH=/professor-recommendations
